on:
  workflow_dispatch:
  push:
    branches: 
      - main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Print cache key
        run: |
          echo "Cache key: ${{ steps.setup-uv.outputs.cache-key }}"
      
      - name: Install the project
        run: uv sync --locked --dev
      
      - name: Add venv to PATH
        run: echo "$(pwd)/.venv/bin" >> $GITHUB_PATH
      
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true
      
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}